---
import "@/styles/global.css";
import PageLayout from "@/layouts/page-layout.astro";
---

<PageLayout
    title="Faculty of Department of Electronics and Communication Engineering | GEC PKD"
>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-6">Courses Offered</h1>
        
        <table class="w-full border-collapse border border-gray-300">
            <thead class="bg-gray-100">
                <tr>
                    <th class="border border-gray-300 p-3 text-left">Course</th>
                    <th class="border border-gray-300 p-3 text-left">Year of Starting</th>
                    <th class="border border-gray-300 p-3 text-left">Approved Intake</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 p-3">B.Tech Electronics and Communication Engineering</td>
                    <td class="border border-gray-300 p-3">1999</td>
                    <td class="border border-gray-300 p-3">60 + 6 EWS + 3 FW + 6 LET</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 p-3">M.Tech course in IoT</td>
                    <td class="border border-gray-300 p-3">2024</td>
                    <td class="border border-gray-300 p-3">Not specified</td>
                </tr>
            </tbody>
        </table>
    </div>
</PageLayout>