---
import "@/styles/global.css";
import PageLayout from "@/layouts/page-layout.astro";
import Eventcard from "@/components/event-card";
import EventCarousel from "@/components/carousel.astro";

const eventItems = [
  {
    id: 1,
    displayDate: "2024-02-28",
    title: "Talk Session with Muhshin C A",
    description: "Congratulations to Aparna V Shenoy for her outstanding achievement in being selected for the Interzone Volleyball Team.",
    image: "../src/assets/events/muhshin C A Talk session.jpg",
  },
  {
    id: 2,
    displayDate: "2024-02-18",
    title: "Campus to Corporate Transition",
    description: "We proudly announce our S6 toppers who have demonstrated exceptional academic performance.",
    image: "../src/assets/events/campus to coperate.jpg",
  },
  {
    id: 3,
    displayDate: "2024-02-08",
    title: "Call for Volunteers",
    description: "Celebrating the innovative spirit of our students in the annual Ideas Competition.",
    image: "../src/assets/events/call for volunteers.jpg",
  },
  {
    id: 4,
    displayDate: "2024-01-25",
    title: "Circuit to Career Workshop",
    description: "State-of-the-art electronics research facility now available for students and faculty.",
    image: "../src/assets/events/ckt to career.jpg",
  },
  
];

// Format the project items in the format expected by the EventCarousel component
const carouselEvents = eventItems.map(item => ({
  id: item.id,
  title: item.title,
  date: item.displayDate,
  description: item.description,
  image: item.image
}));

---


<PageLayout
  title="Faculty of Department of Electronics and Communication Engineering | GEC PKD"
>
  <div class="px-10">
    <EventCarousel events={carouselEvents} />
    <Eventcard />
  </div>
</PageLayout>
